<nav>
  <div class="nav-inner">
    <a class="nav-logo" (click)="scrollTo('home')">
      <div class="logo-wrapper">
        <img src="/AileenGB.jpg" alt="Aileen Gel Blaster" class="logo-img" />
      </div>
    </a>
    <ul class="nav-links">
      <li><a (click)="scrollTo('products')">Products</a></li>
      <li><a (click)="scrollTo('featured')">Featured</a></li>
      <li><a (click)="scrollTo('whyus')">Why Us</a></li>
      <li><a (click)="scrollTo('order')">Order</a></li>
      <li><a (click)="scrollTo('faq')">FAQ</a></li>
    </ul>
    <button class="nav-cta" (click)="scrollTo('order')">Order Now</button>
  </div>
</nav>
